<div>
<%= @question %>
</div>
<div class=banner>
  - Your Coach
</div>

<div>
<%= @answer %>
</div>

<div class=banner>
  - Your Coach
</div>

<br>
<br>
<br>

<div>
<%= link_to "Ask another question", ask_path %>
</div>
